*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.suhu {
  font-style: italic;
}
.angka {
  font-size: 1.3em;
}

body {
    background-color: #696868;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.judul{
    padding-top: 10px;
    padding-bottom: 10px;
}
p {
    margin-bottom: 10px;
    font-size: 16px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}
button {
    flex: 1; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    margin: 5px;
}

    button {
        width: 100%;
    }

hr{
    margin-bottom: 10px;
}